* {
  padding: 10;
  margin: 0;
}

body {
  
    font-size: 20px;
    
    text-align: center;
    align-items: center;
    color: cadetblue;
    }

   
  body button {
    font-size: 40px;
    background-color: purple;
    color: pink;
    padding: 20px 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 50;
    box-shadow: 10;
    border-radius: 10px;
    align-items: center;
  }
  
  #game-board {
      position: relative;
      padding: 50px 10px;
  }
  
  .game-over
	{	
		background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 50;
    padding: 10px;
    box-shadow: 20;
    border-radius: 20px;
  }

	h2
		{
			margin: 0;
			padding: 0;
			font-size: 40px;
		}
	
    .contenedor{
      
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    
  .hidden {

    display: none;
  }
  #canvas{
    background-color: aliceblue;
  }
  .canvasFondoJuego{
    background-image:url(./images/sushi_background.png);
    background-repeat:no-repeat;
    background-size: cover;
  }
  .canvasFondoMenu{
    background-image:url(./images/SushiFondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
  }