* {
  padding: 10;
  margin: 0;
}

body {
  font-family:'DynaPuff', cursive;
  font-size: 20px;    
  text-align: center;
  align-items: center;
  color: rgb(161, 40, 115);
  }
  
  body button {
  font-family:'DynaPuff';
  font-size: 40px;
  background-color: rgb(31, 139, 153);
  color: rgb(165, 18, 209);
  padding: 20px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 80;
  box-shadow: 30;
  border-radius: 10px;
  align-items: center;
  }
  
  #instructions {
  font-size: 20px; 
  font-family: 'DynaPuff', cursive;  
  text-align: lcenter;
  align-items: center;
  color: rgb(205, 67, 32);
  margin-bottom: 30px;
  }

  #game-board {
  position: absolute;
  padding: 50px 10px;
  }
  
  .game-over
	{
  align-items: flex;
  font-family:'DynaPuff';
  font-size: 30px;
	color: white;
  background-color: skyblue;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  border: 50;
  padding: 10px;
  box-shadow: 30;
  border-radius: 20px;
  }

	h2
		{
			margin: 0;
			padding: 0;
			font-size: 50px;
		}
	
    #contenedor{
      
      position: absolute;
      top: 40%;
      left: 40%;
      transform: translate(-50%, -50%);
    }
    #contenedorimagenes{
      
      position: absolute;
      top: 15%;
      left: 70%;
      padding: 10px 10px;
      
    }
    
  .hidden {

    display: none !important;
  }
  #canvas{
    align-items:  center;
    background-color: aliceblue;
  }
  .canvasFondoJuego{
    background-image:url(./images/sushi_background.png);
    background-repeat:no-repeat;
    background-size: cover;
  }
  .canvasFondoMenu{
    background-image:url(./images/SushiFondo.jpg);
    background-repeat:no-repeat;
    background-size: cover;
  }